$light-color: #f4f4f4;
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #0e6cff;
// $primary-color: #c8dcfb;
$secondary-color: #ff8700;
$text-color-white: #fff;

//function  Set text-color base on background
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

//Set Background and Text color
@mixin set-bg-text-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
